body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

form input, select, button {
  margin: 5px;
  padding: 6px;
}

.switch {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 1.75em; 
  height: 1em;  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: black;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em; /* Setengah lebih kecil dari sebelumnya */
  width: 1em;  /* Setengah lebih kecil dari sebelumnya */
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: lime;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(0.8em);
}

#recipe-diagram {
  margin: 0 auto;
  padding: 20px;
}

/* Kustomisasi kotak node */
.e-diagram-node rect {
  fill: #a2dff7;
  stroke: #0f97d1;
  stroke-width: 2px;
}

/* Kustomisasi konektor */
.e-diagram-connector path {
  stroke: #0f97d1;
  stroke-width: 2px;
}

/* Kustomisasi panah */
.e-diagram-connector .e-arrowhead {
  fill: #0f97d1;
}

button {
  background-color: #C326A4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #be209f58;
}

/* Algorithm buttons */
.algo-btn {
  background-color: transparent;
  border: 2px solid #C326A4;
  color: #C326A4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.algo-btn.active {
  background-color: #C326A4;
  color: white;
}

.algo-btn:not(.active):hover {
  background-color: #f5e1f7;
  color: #C326A4;
}

/* Ubah warna slider */
input[type="range"] {
  margin-top: 10px;
}

/* Add custom styling for toggle and slider */
.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  position: absolute;
}

.switch .slider {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  background-color: #ccc;
  border-radius: 34px;
}

.switch .slider:before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
  left: 4px;
  top: 4px;
}

.switch input:checked + .slider {
  background-color: #C326A4;
}

.switch input:checked + .slider:before {
  transform: translateX(14px);
}
